<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="cylinder_inertial" params="radius length mass *origin">
    <inertial>
      <mass value="${mass}" />
      <xacro:insert_block name="origin" />
      <inertia ixx="${0.0833333 * mass * (3 * radius * radius + length * length)}" ixy="0.0" ixz="0.0"
        iyy="${0.0833333 * mass * (3 * radius * radius + length * length)}" iyz="0.0"
        izz="${0.5 * mass * radius * radius}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="read_model_data" params="joint_limits_parameters_file kinematics_parameters_file physical_parameters_file visual_parameters_file">
    <!-- Read .yaml files from disk, load content into properties -->
    <xacro:property name="config_joint_limit_parameters" value="${load_yaml(joint_limits_parameters_file)}"/>
    <xacro:property name="config_kinematics_parameters" value="${load_yaml(kinematics_parameters_file)}"/>
    <xacro:property name="config_physical_parameters" value="${load_yaml(physical_parameters_file)}"/>
    <xacro:property name="config_visual_parameters" value="${load_yaml(visual_parameters_file)}"/>

    <!-- Extract subsections from yaml dictionaries -->
    <xacro:property name="sec_limits" value="${config_joint_limit_parameters['joint_limits']}"/>
    <xacro:property name="sec_offsets" value="${config_physical_parameters['offsets']}"/>
    <xacro:property name="sec_inertia_parameters" value="${config_physical_parameters['inertia_parameters']}" />
    <xacro:property name="sec_mesh_files" value="${config_visual_parameters['mesh_files']}" />
    <xacro:property name="sec_kinematics" value="${config_kinematics_parameters['kinematics']}" />

    <!-- JOINTS LIMIT PARAMETERS -->
    <xacro:property name="joint1_lower_limit" value="${sec_limits['joint1']['min_position']}" scope="parent"/>
    <xacro:property name="joint1_upper_limit" value="${sec_limits['joint1']['max_position']}" scope="parent"/>
    <xacro:property name="joint1_velocity_limit" value="${sec_limits['joint1']['max_velocity']}" scope="parent"/>
    <xacro:property name="joint1_effort_limit" value="${sec_limits['joint1']['max_effort']}" scope="parent"/>
    <xacro:property name="joint2_lower_limit" value="${sec_limits['joint2']['min_position']}" scope="parent"/>
    <xacro:property name="joint2_upper_limit" value="${sec_limits['joint2']['max_position']}" scope="parent"/>
    <xacro:property name="joint2_velocity_limit" value="${sec_limits['joint2']['max_velocity']}" scope="parent"/>
    <xacro:property name="joint2_effort_limit" value="${sec_limits['joint2']['max_effort']}" scope="parent"/>
    <xacro:property name="joint3_lower_limit" value="${sec_limits['joint3']['min_position']}" scope="parent"/>
    <xacro:property name="joint3_upper_limit" value="${sec_limits['joint3']['max_position']}" scope="parent"/>
    <xacro:property name="joint3_velocity_limit" value="${sec_limits['joint3']['max_velocity']}" scope="parent"/>
    <xacro:property name="joint3_effort_limit" value="${sec_limits['joint3']['max_effort']}" scope="parent"/>
    <xacro:property name="joint4_lower_limit" value="${sec_limits['joint4']['min_position']}" scope="parent"/>
    <xacro:property name="joint4_upper_limit" value="${sec_limits['joint4']['max_position']}" scope="parent"/>
    <xacro:property name="joint4_velocity_limit" value="${sec_limits['joint4']['max_velocity']}" scope="parent"/>
    <xacro:property name="joint4_effort_limit" value="${sec_limits['joint4']['max_effort']}" scope="parent"/>
    <xacro:property name="joint5_lower_limit" value="${sec_limits['joint5']['min_position']}" scope="parent"/>
    <xacro:property name="joint5_upper_limit" value="${sec_limits['joint5']['max_position']}" scope="parent"/>
    <xacro:property name="joint5_velocity_limit" value="${sec_limits['joint5']['max_velocity']}" scope="parent"/>
    <xacro:property name="joint5_effort_limit" value="${sec_limits['joint5']['max_effort']}" scope="parent"/>
    <xacro:property name="joint6_lower_limit" value="${sec_limits['joint6']['min_position']}" scope="parent"/>
    <xacro:property name="joint6_upper_limit" value="${sec_limits['joint6']['max_position']}" scope="parent"/>
    <xacro:property name="joint6_velocity_limit" value="${sec_limits['joint6']['max_velocity']}" scope="parent"/>
    <xacro:property name="joint6_effort_limit" value="${sec_limits['joint6']['max_effort']}" scope="parent"/>

    <!-- KINEMATICS -->
    <xacro:property name="joint1_x" value="${sec_kinematics['joint1']['x']}" scope="parent"/>
    <xacro:property name="joint1_y" value="${sec_kinematics['joint1']['y']}" scope="parent"/>
    <xacro:property name="joint1_z" value="${sec_kinematics['joint1']['z']}" scope="parent"/>
    <xacro:property name="joint1_roll" value="${sec_kinematics['joint1']['roll']}" scope="parent"/>
    <xacro:property name="joint1_pitch" value="${sec_kinematics['joint1']['pitch']}" scope="parent"/>
    <xacro:property name="joint1_yaw" value="${sec_kinematics['joint1']['yaw']}" scope="parent"/>

    <xacro:property name="joint2_x" value="${sec_kinematics['joint2']['x']}" scope="parent"/>
    <xacro:property name="joint2_y" value="${sec_kinematics['joint2']['y']}" scope="parent"/>
    <xacro:property name="joint2_z" value="${sec_kinematics['joint2']['z']}" scope="parent"/>
    <xacro:property name="joint2_roll" value="${sec_kinematics['joint2']['roll']}" scope="parent"/>
    <xacro:property name="joint2_pitch" value="${sec_kinematics['joint2']['pitch']}" scope="parent"/>
    <xacro:property name="joint2_yaw" value="${sec_kinematics['joint2']['yaw']}" scope="parent"/>

    <xacro:property name="joint3_x" value="${sec_kinematics['joint3']['x']}" scope="parent"/>
    <xacro:property name="joint3_y" value="${sec_kinematics['joint3']['y']}" scope="parent"/>
    <xacro:property name="joint3_z" value="${sec_kinematics['joint3']['z']}" scope="parent"/>
    <xacro:property name="joint3_roll" value="${sec_kinematics['joint3']['roll']}" scope="parent"/>
    <xacro:property name="joint3_pitch" value="${sec_kinematics['joint3']['pitch']}" scope="parent"/>
    <xacro:property name="joint3_yaw" value="${sec_kinematics['joint3']['yaw']}" scope="parent"/>

    <xacro:property name="joint4_x" value="${sec_kinematics['joint4']['x']}" scope="parent"/>
    <xacro:property name="joint4_y" value="${sec_kinematics['joint4']['y']}" scope="parent"/>
    <xacro:property name="joint4_z" value="${sec_kinematics['joint4']['z']}" scope="parent"/>
    <xacro:property name="joint4_roll" value="${sec_kinematics['joint4']['roll']}" scope="parent"/>
    <xacro:property name="joint4_pitch" value="${sec_kinematics['joint4']['pitch']}" scope="parent"/>
    <xacro:property name="joint4_yaw" value="${sec_kinematics['joint4']['yaw']}" scope="parent"/>

    <xacro:property name="joint5_x" value="${sec_kinematics['joint5']['x']}" scope="parent"/>
    <xacro:property name="joint5_y" value="${sec_kinematics['joint5']['y']}" scope="parent"/>
    <xacro:property name="joint5_z" value="${sec_kinematics['joint5']['z']}" scope="parent"/>
    <xacro:property name="joint5_roll" value="${sec_kinematics['joint5']['roll']}" scope="parent"/>
    <xacro:property name="joint5_pitch" value="${sec_kinematics['joint5']['pitch']}" scope="parent"/>
    <xacro:property name="joint5_yaw" value="${sec_kinematics['joint5']['yaw']}" scope="parent"/>

    <xacro:property name="joint6_x" value="${sec_kinematics['joint6']['x']}" scope="parent"/>
    <xacro:property name="joint6_y" value="${sec_kinematics['joint6']['y']}" scope="parent"/>
    <xacro:property name="joint6_z" value="${sec_kinematics['joint6']['z']}" scope="parent"/>
    <xacro:property name="joint6_roll" value="${sec_kinematics['joint6']['roll']}" scope="parent"/>
    <xacro:property name="joint6_pitch" value="${sec_kinematics['joint6']['pitch']}" scope="parent"/>
    <xacro:property name="joint6_yaw" value="${sec_kinematics['joint6']['yaw']}" scope="parent"/>

    <!-- INERTIA PARAMETERS -->
    <!-- mass -->
    <xacro:property name="base_mass" value="${sec_inertia_parameters['base_mass']}" scope="parent"/>
    <xacro:property name="link1_mass" value="${sec_inertia_parameters['link1_mass']}" scope="parent"/>
    <xacro:property name="link2_mass" value="${sec_inertia_parameters['link2_mass']}" scope="parent"/>
    <xacro:property name="link2_inertia_offset" value="${sec_inertia_parameters['link2_inertia_offset']}" scope="parent"/>
    <xacro:property name="link3_mass" value="${sec_inertia_parameters['link3_mass']}" scope="parent"/>
    <xacro:property name="link4_mass" value="${sec_inertia_parameters['link4_mass']}" scope="parent"/>
    <xacro:property name="link5_mass" value="${sec_inertia_parameters['link5_mass']}" scope="parent"/>
    <xacro:property name="link6_mass" value="${sec_inertia_parameters['link6_mass']}" scope="parent"/>

    <!-- Mesh files -->
    <xacro:property name="base_mesh" value="${sec_mesh_files['base']}"/>
    <xacro:property name="base_visual_mesh" value="file://$(find ${base_mesh['visual']['mesh']['package']})/${base_mesh['visual']['mesh']['path']}" scope="parent"/>
    <xacro:property name="base_collision_mesh" value="file://$(find ${base_mesh['collision']['mesh']['package']})/${base_mesh['collision']['mesh']['path']}" scope="parent"/>

    <xacro:property name="link1_mesh" value="${sec_mesh_files['link1']}"/>
    <xacro:property name="link1_visual_mesh" value="file://$(find ${link1_mesh['visual']['mesh']['package']})/${link1_mesh['visual']['mesh']['path']}" scope="parent"/>
    <xacro:property name="link1_collision_mesh" value="file://$(find ${link1_mesh['collision']['mesh']['package']})/${link1_mesh['collision']['mesh']['path']}" scope="parent"/>

    <xacro:property name="link2_mesh" value="${sec_mesh_files['link2']}"/>
    <xacro:property name="link2_visual_mesh" value="file://$(find ${link2_mesh['visual']['mesh']['package']})/${link2_mesh['visual']['mesh']['path']}" scope="parent"/>
    <xacro:property name="link2_collision_mesh" value="${link2_mesh['collision']['mesh']}" scope="parent"/>
    <xacro:property name="link2_collision_mesh" value="file://$(find ${link2_mesh['collision']['mesh']['package']})/${link2_mesh['collision']['mesh']['path']}" scope="parent"/>

    <xacro:property name="link3_mesh" value="${sec_mesh_files['link3']}"/>
    <xacro:property name="link3_visual_mesh" value="file://$(find ${link3_mesh['visual']['mesh']['package']})/${link3_mesh['visual']['mesh']['path']}" scope="parent"/>
    <xacro:property name="link3_collision_mesh" value="file://$(find ${link3_mesh['collision']['mesh']['package']})/${link3_mesh['collision']['mesh']['path']}" scope="parent"/>

    <xacro:property name="link4_mesh" value="${sec_mesh_files['link4']}"/>
    <xacro:property name="link4_visual_mesh" value="file://$(find ${link4_mesh['visual']['mesh']['package']})/${link4_mesh['visual']['mesh']['path']}" scope="parent"/>
    <xacro:property name="link4_collision_mesh" value="file://$(find ${link4_mesh['collision']['mesh']['package']})/${link4_mesh['collision']['mesh']['path']}" scope="parent"/>

    <xacro:property name="link5_mesh" value="${sec_mesh_files['link5']}"/>
    <xacro:property name="link5_visual_mesh" value="file://$(find ${link5_mesh['visual']['mesh']['package']})/${link5_mesh['visual']['mesh']['path']}" scope="parent"/>
    <xacro:property name="link5_collision_mesh" value="file://$(find ${link5_mesh['collision']['mesh']['package']})/${link5_mesh['collision']['mesh']['path']}" scope="parent"/>

    <xacro:property name="link6_mesh" value="${sec_mesh_files['link6']}"/>
    <xacro:property name="link6_visual_mesh" value="file://$(find ${link6_mesh['visual']['mesh']['package']})/${link6_mesh['visual']['mesh']['path']}" scope="parent"/>
    <xacro:property name="link6_collision_mesh" value="file://$(find ${link6_mesh['collision']['mesh']['package']})/${link6_mesh['collision']['mesh']['path']}" scope="parent"/>

    <!--KINEMATICS HASH-->
    <xacro:property name="kinematics_hash" value="${sec_kinematics['hash']}" scope="parent"/>
  </xacro:macro>
</robot>
